

<h1 style="text-align:center">Bienvenido al Juego</h1>


<div style="text-align:center">
    <form method="get" action="/configuracion">
    <button type="submit">Configurar</button>
    </form>


    <form method="get" action="/simulacion">
    <button type="submit">Jugar</button>
    </form>
</div>
