<h1 style="text-align:center">Bienvenido al Juego</h1>

<div style="text-align:center">
    <form method="get" action="/configuracion">
        <input type="submit" value="Agregar vehiculo">
    </form>

    <form method="post" action="/simulacion">
        <input type="submit" value="Simular">
    </form>
</div>

