

<h1 style="text-align:center">Bienvenido al Juego</h1>


<div style="text-align:center">
    <form method="post" action="/configurar">
    <button type="submit">Configurar</button>
    </form>


    <form method="post" action="/jugar">
    <button type="submit">Jugar</button>
    </form>
</div>
