<h1> CONFIGURACION </h1> <hr>

<% @dashDot.vehiculos.each do |vehiculo| %>
  <h2>Vehiculo <%= @nro_vehiculo %>:</h2>
  <b style="font-size: 20;"> Posicion Inicial: </b>
  <span><%=@dashDot.obtenerPosicion(vehiculo)%></span> <br>

  <% @movimientos = @dashDot.ejecutarSecuencia(vehiculo)  %>

  <% @movimientos.each do |movimiento| %>
    <p><%= movimiento%></p>
  <% end %>

  <b style="font-size: 20;"> Posicion Final: </b>
  <span><%=@dashDot.obtenerPosicion(vehiculo)%></span> <br> <br>

  <% @nro_vehiculo +=1  %>

<% end %>