<h1>Simulacion</h1>

<form method="post" action="/simulacion">
    <input type='text' name="secuencia"> 
    <input type="submit" value="Iniciar Simulacion">
</form>

<p>movimientos del vehiculo: <%=@secuencia_de_movimientos%></p>