<h1> CONFIGURACION </h1> <hr>

<h2>Vehiculo:</h2>
<b style="font-size: 20;"> Posicion Inicial: </b>
<span><%=@pos_inicial%></span> <br> 

<% @movimientos.each do |movimiento| %>
  <p><%= movimiento%></p>
<% end %>

<b style="font-size: 20;"> Posicion Final: </b>
<span><%=@pos_final%></span> <br> <br>

