<h1>Simulacion</h1>

<form method="post" action="/simulacion">
    <input type='text' name="secuencia"> 
    <input type="submit" value="Establecer secuencia">
</form>

<p>movimientos del vehiculo: <%=@movimientos_ingresados%></p>

<form method="post" action="/dashdotSimulacion">
    <input type="submit" value="Iniciar Simulacion">
</form>
